@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-text: rgb(255, 255, 255);
    --color-text2: rgb(177, 177, 177);
    --color-destaque: 	rgb(219,0,0);
    --background-color: rgb(0, 0, 0);
    --text-font: 'Inter'
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background-color); 
    color: var(--color-text);
    font-family: var(--text-font);
} 
  
.principal{
    
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.principal-block{
    margin: 0 0 0 5em;
}
.principal-text{
    font-size: 26px;
    font-weight: 700;
}
.img{
    margin: 2em 0 2em 0;
    width: 30%;
    
}
.button{
    text-decoration: none;
    color: var(--color-text);
    background-color:  var(--color-destaque);
    padding: 1em;
    display: block;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2em;

}
.button-second{
    border: solid 2px var(--color-text);
    background-color: transparent;
    margin-bottom: 0.5em;
    box-shadow: none;

}
.advers{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-text2);

}
.secundario{
    align-items: center;
    margin: 0 9em;
}
.image-secundario{
    width: 75%;
}
.secundario-text{
    color: var(--color-destaque);
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 0.2em;
}
.secundario-advers{
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text2);
    
}
.button-terciario{
    margin-top: 1em;
    display: inline-block;
    font-size: 20px;
}
.img-terciario{
    width: 100%;
}
.devices{
    color: var(--color-text);
    text-align: center;
}
.devices-list{
    margin: 10em 10em;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.device-img{
    width: 90%;
}
.device-text{
    font-size: 48px;
    font-weight: 700;
}
.list-iten{
    font-size: 32px;
    font-weight: 700;
}
.footer{
    align-items: center;
}
.rodape-text{
    font-size: 48px;
    color: var(--color-destaque);
    font-weight: 700;
    
}
.rodape-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 3em 13em;
  
}
.rodape-link{
    font-size: 16px;
    font-weight: 400;
}
.footer-link{
    text-decoration: none;
    color: var(--color-text);
    
}
.rodape-text2{
    font-size: 14px;
    font-weight: 400;
    margin: 1em 0 3em 0;

}
.footer-link:hover{
    color: var(--color-destaque);
}
.button:hover{
    box-shadow: 0 0 20px var(--color-destaque);
}
.button-second:hover{
    box-shadow: 0 0 20px var(--color-text);
}
.terciario{
    align-items: center;
    margin: 0 9em;
}
@media(max-width:1100px){
    .conteiner{
        display: flex;
    }
    .principal-block{
        margin: 0 2%;
    }
    .secundario{
        flex-direction: column;
        text-align: center;
        margin: 0 2%;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .terciario{
        flex-direction: column-reverse;
        margin: 0 5% 20% 5%;
        text-align: center;
        padding-bottom: 10%;
    }
    .img-terciario{
        margin: 0 0 0 10%;
    }
    .rodape-list{
        
        flex-direction: row;
        margin: 5% 2%;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        list-style: inside;
    }
    .devices-list{
        margin: 10% 2% 0 2%;
    }
    .device-text{
        font-size: 20px;
    }
    .list-iten{
        font-size: 16px;
    }
    .rodape-link{
        font-size: 12px;
    }
    .secundario-advers{
        margin: 10% 10% 0 10%;
    }
    .secundario-text{
        margin: 0 10% 0 10%;
        font-size: 48px;
    }
}
